<nav>
  <ul id="horizontal-list">
    <li>
      <%= link_to 'Utoob Movies', root_path %>
    </li>
    <li>
      <%= link_to 'Users', users_path  %>
    </li>
    <li>
      <%= link_to 'New User', new_user_path %>
    </li>
    <li>
      <%= link_to 'Add Movie', new_movie_path %>
    </li>
  </ul>
</nav>